:root {
  --light--background-color: oklch(0.9634 0.02097 105.642);
  --light--default-color: oklch(0.1951 0.23 105.642);
  --light--faded-default-color: oklch(0.1951 0.23 105.642 / 0.653);
  --light--heading-color: oklch(0.165 0.18556 225.642);
  --light--faded-heading-color: oklch(0.165 0.18556 225.642 / 0.18);
  --light--link-color: oklch(0.5537 0.15458 225.642);
  --light--faded-link-color: oklch(0.5537 0.15458 225.642 / 0.604);
  --light--accent-color: oklch(0.4986 0.10843 165.642);
  --light--faded-accent-color: oklch(0.4986 0.10843 165.642 / 0.28);
  --light--info-color: oklch(0.645 0.09691077318165202 345.642);
  --light--faded-info-color: oklch(0.645 0.09691077318165202 345.642 / 0.376);
  --light--black-color: oklch(0 0 301.9078701095805);
  --light--faded-black-color: oklch(0 0 301.9078701095805 / 0.46);
  --light--white-color: oklch(1 0 301.9078701095805);
  --light--faded-white-color: oklch(1 0 301.9078701095805 / 0.46);
  --light--match-color: oklch(1 0 301.9078701095805);
  --light--faded-match-color: oklch(1 0 301.9078701095805 / 0.46);
  --light--reverse-color: oklch(0 0 301.9078701095805);
  --light--faded-reverse-color: oklch(0 0 301.9078701095805 / 0.46);
  --dark--background-color: oklch(0.2124 0.0298 254.092);
  --dark--default-color: oklch(0.8747 0.04454 254.092);
  --dark--faded-default-color: oklch(0.8747 0.04454 254.092 / 0.157);
  --dark--heading-color: oklch(0.6705 0.12874 254.092);
  --dark--faded-heading-color: oklch(0.6705 0.12874 254.092 / 0.308);
  --dark--link-color: oklch(0.7299 0.07889 14.091999999999985);
  --dark--faded-link-color: oklch(0.7299 0.07889 14.091999999999985 / 0.609);
  --dark--accent-color: oklch(0.7338 0.06558 194.09199999999998);
  --dark--faded-accent-color: oklch(0.7338 0.06558 194.09199999999998 / 0.567);
  --dark--info-color: oklch(0.4351 0.16022 74.09199999999998);
  --dark--faded-info-color: oklch(0.4351 0.16022 74.09199999999998 / 0.359);
  --dark--black-color: oklch(0 0 232.79402489007663);
  --dark--faded-black-color: oklch(0 0 232.79402489007663 / 0.46);
  --dark--white-color: oklch(1 0 232.79402489007663);
  --dark--faded-white-color: oklch(1 0 232.79402489007663 / 0.46);
  --dark--match-color: oklch(0 0 232.79402489007663);
  --dark--faded-match-color: oklch(0 0 232.79402489007663 / 0.46);
  --dark--reverse-color: oklch(1 0 232.79402489007663);
  --dark--faded-reverse-color: oklch(1 0 232.79402489007663 / 0.46);
  --hc-light--background-color: oklch(1 0.06752 259.652);
  --hc-light--default-color: oklch(0.0995 0.23 259.652);
  --hc-light--faded-default-color: oklch(0.0995 0.23 259.652 / 0.242);
  --hc-light--heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652);
  --hc-light--faded-heading-color: oklch(0.6217704856122922 0.08831300417260277 319.652 / 0.572);
  --hc-light--link-color: oklch(0.5245 0.15006780734890438 259.652);
  --hc-light--faded-link-color: oklch(0.5245 0.15006780734890438 259.652 / 0.437);
  --hc-light--accent-color: oklch(0.3227 0.19753 19.651999999999987);
  --hc-light--faded-accent-color: oklch(0.3227 0.19753 19.651999999999987 / 0.318);
  --hc-light--info-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004);
  --hc-light--faded-info-color: oklch(0.5586547900477358 0.169058911353704 199.65200000000004 / 0.34);
  --hc-light--black-color: oklch(0 0 53.5090680592232);
  --hc-light--faded-black-color: oklch(0 0 53.5090680592232 / 0.46);
  --hc-light--white-color: oklch(1 0 53.5090680592232);
  --hc-light--faded-white-color: oklch(1 0 53.5090680592232 / 0.46);
  --hc-light--match-color: oklch(1 0 53.5090680592232);
  --hc-light--faded-match-color: oklch(1 0 53.5090680592232 / 0.46);
  --hc-light--reverse-color: oklch(0 0 53.5090680592232);
  --hc-light--faded-reverse-color: oklch(0 0 53.5090680592232 / 0.46);
  --hc-dark--background-color: oklch(0 0.20706934229967444 142);
  --hc-dark--default-color: oklch(1 0.20411 82);
  --hc-dark--faded-default-color: oklch(1 0.20411 82 / 0.385);
  --hc-dark--heading-color: oklch(0.9552 0.09830629780740073 142);
  --hc-dark--faded-heading-color: oklch(0.9552 0.09830629780740073 142 / 0.697);
  --hc-dark--link-color: oklch(0.962 0.004698125519856717 262);
  --hc-dark--faded-link-color: oklch(0.962 0.004698125519856717 262 / 0.628);
  --hc-dark--accent-color: oklch(0.874 0.23 142);
  --hc-dark--faded-accent-color: oklch(0.874 0.23 142 / 0.374);
  --hc-dark--info-color: oklch(0.6882 0.21203825105953206 22);
  --hc-dark--faded-info-color: oklch(0.6882 0.21203825105953206 22 / 0.418);
  --hc-dark--black-color: oklch(0 0 78.02412821214362);
  --hc-dark--faded-black-color: oklch(0 0 78.02412821214362 / 0.46);
  --hc-dark--white-color: oklch(1 0 78.02412821214362);
  --hc-dark--faded-white-color: oklch(1 0 78.02412821214362 / 0.46);
  --hc-dark--match-color: oklch(0 0 78.02412821214362);
  --hc-dark--faded-match-color: oklch(0 0 78.02412821214362 / 0.46);
  --hc-dark--reverse-color: oklch(1 0 78.02412821214362);
  --hc-dark--faded-reverse-color: oklch(1 0 78.02412821214362 / 0.46);
  --highlight-1-color: oklch(from var(--accent-color) l c h);
  --highlight-2-color: oklch(from var(--accent-color) l c calc(h + 60));
  --highlight-3-color: oklch(from var(--accent-color) l c calc(h + 120));
  --highlight-4-color: oklch(from var(--accent-color) l c calc(h + 180));
  --highlight-5-color: oklch(from var(--link-color) l c h);
  --highlight-6-color: oklch(from var(--link-color) l c calc(h + 60));
  --highlight-7-color: oklch(from var(--link-color) l c calc(h + 120));
  --highlight-8-color: oklch(from var(--link-color) l c calc(h + 180));
}

:root {
  --background-color: var(--switch--background-color, var(--light--background-color));
  --default-color: var(--switch--default-color, var(--light--default-color));
  --faded-default-color: var(--switch--faded-default-color, var(--light--faded-default-color));
  --heading-color: var(--switch--heading-color, var(--light--heading-color));
  --faded-heading-color: var(--switch--faded-heading-color, var(--light--faded-heading-color));
  --link-color: var(--switch--link-color, var(--light--link-color));
  --faded-link-color: var(--switch--faded-link-color, var(--light--faded-link-color));
  --accent-color: var(--switch--accent-color, var(--light--accent-color));
  --faded-accent-color: var(--switch--faded-accent-color, var(--light--faded-accent-color));
  --info-color: var(--switch--info-color, var(--light--info-color));
  --faded-info-color: var(--switch--faded-info-color, var(--light--faded-info-color));
  --black-color: var(--switch--black-color, var(--light--black-color));
  --faded-black-color: var(--switch--faded-black-color, var(--light--faded-black-color));
  --white-color: var(--switch--white-color, var(--light--white-color));
  --faded-white-color: var(--switch--faded-white-color, var(--light--faded-white-color));
  --match-color: var(--switch--match-color, var(--light--match-color));
  --faded-match-color: var(--switch--faded-match-color, var(--light--faded-match-color));
  --reverse-color: var(--switch--reverse-color, var(--light--reverse-color));
  --faded-reverse-color: var(--switch--faded-reverse-color, var(--light--faded-reverse-color));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--switch--background-color, var(--dark--background-color));
    --default-color: var(--switch--default-color, var(--dark--default-color));
    --faded-default-color: var(--switch--faded-default-color, var(--dark--faded-default-color));
    --heading-color: var(--switch--heading-color, var(--dark--heading-color));
    --faded-heading-color: var(--switch--faded-heading-color, var(--dark--faded-heading-color));
    --link-color: var(-switch--link-color-, var(--dark--link-color));
    --faded-link-color: var(--switch--faded-link-color, var(--dark--faded-link-color));
    --accent-color: var(--switch--accent-color, var(--dark--accent-color));
    --faded-accent-color: var(--switch--faded-accent-color, var(--dark--faded-accent-color));
    --info-color: var(--switch--info-color, var(--dark--info-color));
    --faded-info-color: var(--switch--faded-info-color, var(--dark--faded-info-color));
    --black-color: var(--switch--black-color, var(--dark--black-color));
    --faded-black-color: var(--switch--faded-black-color, var(--dark--faded-black-color));
    --white-color: var(--switch--white-color, var(--dark--white-color));
    --faded-white-color: var(--switch--faded-white-color, var(--dark--faded-white-color));
    --match-color: var(--switch--match-color, var(--dark--match-color));
    --faded-match-color: var(--switch--faded-match-color, var(--dark--faded-match-color));
    --reverse-color: var(--switch--reverse-color, var(--dark--reverse-color));
    --faded-reverse-color: var(--switch--faded-reverse-color, var(--dark--faded-reverse-color));
  }
}
